<!DOCTYPE html >
<html lang="es">
<head>
	<title>Panel de administración - copyright Autos Minn 2017  </title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<script src="/libs/jquery/jquery.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link href='imagenes/icons/venta.png' rel='shortcut icon' type='image/png'>
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/estilos.css">
	<link rel="stylesheet" href="libs/materialize/css/materialize.css">
	<script src="libs/materialize/js/materialize.min.js"></script>

	<script src="/libs/angular/angular.min.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/controllers/admin.js"></script>

</head>

<body class="admin" ng-init="getCars()" ng-app="myAdmin" ng-controller="adminController">
	<header class="container">
	<div class="page-header">
	  <h1>Autos Minn<small> Panel de control</small></h1>
	</div>
	</header>

	<div class="container">
		<div class="row">
					<div class="nuevoAutoWrapper col-xs-12 col-lg-8">
						<label class="etiquetaLab" for="caracteristicas">Agregar Autos</label>			
						<form method="post" action="/newCar" enctype="multipart/form-data">
								<div class="input-field col s6 m6">
									<input id="first_name" type="text" name="nombre">
									<label for="first_name">Nombre</label>
								</div>

								<div class="input-field col s6 m6">
									<input id="patente" type="text" name="patente">
									<label for="patente">Patente</label>
								</div>

								
								<div class="input-field col s12 m6">
									<input type="text" class="" name="marca">
									<label for="marca">Marca</label>
								</div>

								
								<div class="input-field col s12 m6">
									<input id="year" type="number" name="year"">
									<label for="year">Año</label>
								</div>
								

								<div class="input-field col s12 m4">
									<input id="precio" type="number" name="precio">
									<label for="precio">Precio</label>
								</div>

								<div class="input-field col s12 m4">
									<input id="km" type="number" name="km">
									<label for="km">Kilometros</label>
								</div>


								<div class="input-field col s12 m4">
									<input id="color" type="text" name="color">
									<label for="color">Color</label>
								</div>

								<div class="input-field col s12 m12">
									<select name="combustible">
										<option value="" disabled selected>Elegir Combustible</option>
										<option value="Nafta">Nafta</option>
										<option value="Diesel">Diesel</option>
										<option value="Gas">Gas</option>
									</select>
									
								</div>



								<script>

									$(document).ready(function() {
										$('select').material_select();
									});
								</script>



								<div class="row equipamiento col-xs-12">
								<label class="etiquetaLab" for="equipamiento" id="labelEquip"> Equipamiento</label>	
									<div ng-repeat="x in equipamiento" class="col-sm-12 col-sm-6">
										<p>
											<input name="equipamiento" value="{{x}}" class="equipamiento" type="checkbox" id="{{test + $index}}" />
											<label for="{{test + $index}}">{{x}}</label>
										</p>	
									</div>

								<input type="button" class="btn btn-equip" ng-click="check()" value="+ equipamiento">
								</div>

								
									<div class="input-field col s12 m6">
									  <textarea type="text" class="materialize-textarea" name="caracteristicas" id="caracteristicas"  placeholder="Agregar caracteristicas generales"></textarea>
									  <label class="etiquetaLab" for="caracteristicas">Resumen Equipamiento</label>
									</div>

									<div class="input-field col s12 m6">
									  <textarea type="text" class="materialize-textarea" name="comentarios" id="comentarios"  placeholder="Agregar comentarios generales"></textarea>
									  <label class="etiquetaLab" for="comentarios">Comentarios</label>
									</div>
									

									<div class="form-group">
										<label for="image1">Subir imagenes</label>
										<input multiple="" enctype="multipart/form-data" type="file" name="image1">

									</div>


									<input type="submit" class="btn btn-lg" value="Nuevo Auto">
									

	
							</form>

						</div>

						<div class="ultimosWrapper col-xs-12 col-lg-4">
							<div class="navBoot">
								<ul class="nav nav-pills nav-stacked">
								  <li role="presentation" class="active"><a href="/">Ir al sitio</a></li>
								  <li role="presentation"><a href="/comentarios">Ver Comentarios</a></li>
								</ul>
							</div>
							<div class="ultimosAutos">
								<label class="etiquetaLab" for="caracteristicas">Ultimos Autos</label>
								<ul class="collection">
									<li ng-repeat="auto in autos | orderBy:'time':true" class="collection-item avatar">
										<img src="{{'http://res.cloudinary.com/dr8t3qbki/image/upload/h_0.1,w_0.1/' + auto.imgUrl[0].substring(0,6) + '-0.jpg'}}" alt="{{auto.nombre}}" alt="" class="circle">
										<a ng-click="eraseCar(auto.patente)"><span class="trashIcon ion-trash-b"></span></a><span class="title">{{auto.nombre}}</span>
										<p>{{'patente:' + auto.patente}} <br>
											{{ auto.precio | currency:"$"}}
										</p>
										
										
										</li>
								</ul>
							
							<div class="options">
								<div hidden class="eliminar">
									<form action="/eliminar" method="post">
										<h5>Eliminar con patente</h5>
										<div class="form-group">
											<input type="text" class="form-control" name="patente"   placeholder="Nro de patente"/>
										</div>
										<input type="submit" class="btn btn-block btn-eliminar" value="ELIMINAR">
									</form>

								</div>
								<div class="modificar">
									<form  action="/modificarEstado" method="post">
										<label class="etiquetaLab" for="caracteristicas">Cambiar precio</label>	
										<div class="form-group">
											<input type="text" class="form-control" name="patente"   placeholder="Nro de patente"/>

										</div>
										<div class="form-group">
											<input type="number" class="form-control" name="precio"   placeholder="Modificar precio"/>

										</div>


										<input type="submit" class="btn btn-block btn-modificar" value="MODIFICAR">
									</form>				
								</div>


							</div>

						</div>
						</div>

				
			
		</div>
		

	


	<!-- STICKY MOJO SCRIPTS -->
	<script type="text/javascript" src="/js/otros/stickyMojo.js"></script>
	<script type="text/javascript" src="/js/otros/stickyConfig.js"></script>

	
</body>

</html>
