/*NAVEGADOR 1*/
/*COLOR AZUL: #39667F*/
/*COLOR VERDE: #34B3A0*/
/*COLOR VERDE2: #43C1AE*/
/*COLOR BEIGE: #E9ECEF*/
/*COLOR LETRA BLANCA : rgb(255,255,255)*/
/*COLOR AMARILLO PASTEL #FFD452*
/*COLOR NEGRO LETRA: #212529
<style>
@import url('https://fonts.googleapis.com/css?family=Catamaran|Dosis|Inconsolata|Indie+Flower|Muli|Noto+Serif|Nunito|PT+Serif|Playfair+Display');
</style>

font-family: 'Playfair Display', serif;
font-family: 'PT Serif', serif;
font-family: 'Muli', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Noto Serif', serif;
font-family: 'Inconsolata', monospace;
font-family: 'Dosis', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Catamaran', sans-serif;

*/
@import url("https://fonts.googleapis.com/css?family=Asap+Condensed|Open+Sans|Raleway|Raleway+Dots|Roboto");
@import url("https://fonts.googleapis.com/css?family=Catamaran|Dosis|Inconsolata|Indie+Flower|Muli|Noto+Serif|Nunito|PT+Serif|Playfair+Display");
@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
/*BOOTSTRAP PARCHES*/
h1, .container, .container-fluid {
  margin: 0;
  margin-left: 0px;
  margin-right: 0;
  padding: 0px;
  padding-left: 0px;
  padding-right: 0px; }

.navbar-header, .navbar-default {
  background-color: transparent;
  color: white;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  border: none; }

.navbar-default .navbar-nav > li > a {
  color: white; }

/*PORTADA*/
.portada {
  background: url("https://image.shutterstock.com/z/stock-photo-close-up-engineers-working-on-a-building-site-holding-a-blueprints-engineering-and-architecture-678980125.jpg") no-repeat center fixed;
  background-size: cover;
  background-position: top;
  height: 100vh; }
  .portada .logoIT {
    height: 170px;
    display: block;
    margin: 0 auto; }
    .portada .logoIT:hover {
      animation-name: bounce;
      animation-iteration-count: infinite; }
    @media screen and (max-width: 600px) {
      .portada .logoIT {
        height: 135px;
        padding: 10px; } }

.portada:hover {
  transition: 3s; }

.portada-but {
  margin-right: 5px;
  transition: 2s;
  background-color: #4528B6;
  border-radius: none;
  color: whitesmoke;
  border: none;
  font-size: 17px;
  padding: 15px;
  margin-top: 5px;
  text-align: left; }
  @media screen and (max-width: 600px) {
    .portada-but {
      padding: 10px;
      font-size: 12px;
      text-align: center; } }

.portada-but2 {
  transition: 2s;
  color: #4528B6;
  border-radius: none;
  background-color: whitesmoke;
  border: none;
  font-size: 17px;
  padding: 15px;
  margin-top: 5px;
  text-align: left; }
  @media screen and (max-width: 600px) {
    .portada-but2 {
      padding: 10px;
      font-size: 12px;
      text-align: center; } }

.portada-but:hover {
  transition: 1s;
  background-color: whitesmoke;
  border-radius: none;
  color: #4528B6;
  border: none;
  animation-name: tada; }

.destacado {
  color: #4427b3; }

.navBar {
  width: 100%;
  position: fixed;
  z-index: 3;
  margin-top: 30px;
  color: #4528B6; }
  .navBar ul {
    padding: 100px;
    padding-top: 20px;
    margin: 0px;
    text-align: left; }
    .navBar ul li {
      color: black;
      list-style: none;
      padding-right: 25px;
      font-size: 14px;
      cursor: pointer;
      display: inline-block; }
      .navBar ul li:first-child {
        color: orange; }
      .navBar ul li:hover {
        transition: 1s;
        color: orange; }
      .navBar ul li span {
        padding: 3px; }

.titulos {
  color: #484848;
  text-align: left;
  padding: 5px; }

.servicios {
  font-family: 'Catamaran', sans-serif;
  padding: 30px;
  background: white; }
  .servicios .servGeneral {
    padding: 15px; }
    .servicios .servGeneral .servWrapper {
      border: 10px solid white;
      margin: 0px;
      padding: 0px;
      background-color: white; }
      .servicios .servGeneral .servWrapper:hover {
        transition: 0.5s;
        transform: scale(1.06, 1.06); }
      .servicios .servGeneral .servWrapper:hover .textWrapper {
        background-color: white;
        transition: 0.8s;
        color: #4528B6; }
      .servicios .servGeneral .servWrapper:hover .servBody {
        transition: 0.5s;
        color: #4528B6; }
      .servicios .servGeneral .servWrapper .servHead {
        padding: 0px; }
        .servicios .servGeneral .servWrapper .servHead .textWrapper {
          text-align: center;
          padding: 5px; }
          .servicios .servGeneral .servWrapper .servHead .textWrapper .serv-tit {
            text-align: center;
            font-weight: 700; }
      .servicios .servGeneral .servWrapper .servBody {
        background-color: white;
        color: #484848;
        padding: 18px;
        text-align: center; }

/*BUSQUEDAS*/
.encabezado {
  color: rgba(100, 100, 100, 0.8);
  text-align: center;
  font-family: 'Catamaran', sans-serif; }
  .encabezado h3 {
    padding: 30px;
    margin: 0;
    font-size: 35px;
    text-transform: uppercase; }
    .encabezado h3 span {
      padding: 5px;
      font-family: 15px; }

.preludeWrapper {
  color: white;
  background-image: linear-gradient(-20deg, #4528B6 0%, crimson 100%);
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 30px; }
  .preludeWrapper h4 {
    font-size: 15px;
    text-align: center; }

.busquedas {
  background-image: linear-gradient(20deg, whitesmoke 0%, rgba(100, 100, 100, 0.8) 90%);
  color: black;
  background: whitesmoke; }
  .busquedas .row {
    margin: 0; }
  .busquedas label {
    padding: 5px;
    font-family: 18px;
    color: whitesmoke; }
  .busquedas .linkedin-wrapper {
    text-align: center;
    color: rgba(100, 100, 100, 0.8);
    background-image: linear-gradient(-20deg, #4528B6 0%, rgba(42, 160, 73, 0.7) 100%);
    padding: 18px; }
    .busquedas .linkedin-wrapper label, .busquedas .linkedin-wrapper span {
      color: black; }
    .busquedas .linkedin-wrapper .linkedin-msg {
      display: none;
      text-align: center;
      color: white; }
      .busquedas .linkedin-wrapper .linkedin-msg p {
        margin: 0;
        padding: 5px; }
        .busquedas .linkedin-wrapper .linkedin-msg p span {
          color: #B9DCE0; }
    .busquedas .linkedin-wrapper .linkedin-icon {
      padding: 5px;
      font-size: 18px; }
    .busquedas .linkedin-wrapper #linkedin-but {
      margin-top: 10px; }
  .busquedas .jobs-result {
    padding: 20px;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    padding: 15px;
    margin-bottom: 10px;
    border: 10px solid whitesmoke; }
    .busquedas .jobs-result .job-offer {
      padding: 10x;
      height: 350px;
      text-align: right;
      background-color: white;
      border: 5px solid whitesmoke; }
      .busquedas .jobs-result .job-offer p {
        text-align: left;
        padding: 2px;
        margin: 0px; }
      .busquedas .jobs-result .job-offer .badge {
        font-size: 10px;
        letter-spacing: 1.5px; }
      .busquedas .jobs-result .job-offer .iconGroup .linkICON {
        padding: 5px;
        color: #0077B5;
        font-size: 40px; }
      .busquedas .jobs-result .job-offer .job-title {
        margin-top: 10px;
        font-weight: 700;
        color: #0e0824; }
      .busquedas .jobs-result .job-offer:hover {
        background-color: whitesmoke;
        transition: 2s; }
      .busquedas .jobs-result .job-offer .icon {
        padding: 3px;
        margin-right: 4px;
        color: #0077B5;
        font-size: 18px; }
      .busquedas .jobs-result .job-offer:hover .icon {
        transition: 0.8s; }
      .busquedas .jobs-result .job-offer label {
        color: rgba(100, 100, 100, 0.8);
        text-align: left; }

.contacto {
  background: url("/imagenes/web/contact.jpeg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 3; }
  .contacto h3 {
    color: black; }
  .contacto .row {
    padding: 0px;
    margin: 0px; }
  .contacto input, .contacto textarea {
    border-right: none;
    border-left: none;
    font-size: 13px; }
    .contacto input:focus, .contacto textarea:focus {
      outline: none;
      box-shadow: none;
      background-color: rgba(100, 100, 100, 0.25);
      color: #4528B6;
      transition: 1.6s; }

#footer-wrapper {
  margin-top: 30px; }
  #footer-wrapper .footer-title {
    font-weight: 700;
    padding: 2px; }
  #footer-wrapper .copyright {
    box-shadow: inset 0px 0px 120px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0px 0px 120px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 0px 120px rgba(0, 0, 0, 0.4);
    height: 55%;
    background-color: rgba(105, 120, 131, 0.34);
    color: black;
    box-shadow: 10px 10px 5px #888888;
    padding: 18px; }
    #footer-wrapper .copyright .telefono, #footer-wrapper .copyright .direccion, #footer-wrapper .copyright .social-media {
      padding: 10px;
      text-align: center; }
    #footer-wrapper .copyright .social-media {
      text-align: left; }
      #footer-wrapper .copyright .social-media a {
        text-decoration: none; }
        #footer-wrapper .copyright .social-media a:hover span {
          color: #4528b7;
          transition: 0.7s; }
        #footer-wrapper .copyright .social-media a span {
          color: #4528B6;
          padding: 5px;
          font-size: 30px; }
    #footer-wrapper .copyright p, #footer-wrapper .copyright h5 {
      padding: 3px;
      margin-bottom: 0;
      text-align: left;
      margin: 0; }
      #footer-wrapper .copyright p span, #footer-wrapper .copyright h5 span {
        padding: 8px;
        color: #4528b7; }
      #footer-wrapper .copyright p:hover, #footer-wrapper .copyright h5:hover {
        transition: 1s;
        color: #4528b7; }
  #footer-wrapper .design-contact {
    cursor: pointer;
    height: 45%;
    background-color: #24292E;
    color: whitesmoke;
    font-size: 15px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5); }
    #footer-wrapper .design-contact p {
      padding: 10px;
      margin-bottom: 0; }

.admin .jobWrapper {
  padding: 5px; }
  .admin .jobWrapper .jobMenu {
    padding: 10px;
    border-bottom: 1px solid #4528B6; }

/*# sourceMappingURL=estilos.css.map */
